.header {
	background-color: white;
	float: left;
	width: 100%;
	height: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
	top: 0;
	left: 0;
}

.myname {
	width: 355px;
	height: 60px;
    background-color: #4aaaa5;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 60px;
    top: 0px;   
    border: 1px solid #dddddd;
    display: inline-block;
}

h1 {
	color: white;
	font-size: 21pt;
	font-weight: bold;
	padding-top: 25px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.links {
	float: right;
	padding: 40px;
	margin-right: 50px;
	font-size: 12pt;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #777777;
}

li {
	display: inline;
	padding: 10px;
	text-decoration: none;
}

.about {
	height: 400px;
	float: left;
	text-align: left;
	width: 60%;
	margin-top: 40px;
	margin-left: 60px;
	margin-bottom: 70px;
}

body {
	background-image: url(../images/clothbackground.png);
}


h2 {
	font-size: 21pt;
	color: #4aaaa5;
	font-weight: bold;
	float: left;
	width: 520px;
	background-color: white;
	border-top: 1px solid white;
	margin-left: 10px;
	border-bottom: 2px solid #D3D3D3;
}

p {
	width: 520px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding-top: 38px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	border: 1px solid white;
	font-size: 12pt;
}

#profilepic {
	float: left;
	width: 200px;
	height: 300px;
	margin: 10px;
}

aside {
	background-color: white;
	text-align: center; 
	float: right;
	margin-top: 35px;
	margin-right: 120px;
	font-size: 15pt;
	color: #4aaaa5;
}

#logos {
	width: 75px;
	height: 75px;
	border-top: 1px solid #D3D3D3;
}

footer {
	text-align: center;
	background-color: #666666;
	height: 65px;
	border-top: 8px solid #4aaaa5;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#copyright {
	padding-top: 25px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	clear: left;
}

#nature {
	width: 300px;
	height: 150px;
	background-color: white;
	padding: 25px;
}

#airplane {
	width: 300px;
	height: 150px;
	background-color: white;
	padding: 25px;
}

#technology {
	width: 300px;
	height: 150px;
	background-color: white;
	padding: 25px;
}

.portfolio {
	height: 550px;
	width: 60%;
	margin-top: 35px;
	margin-left: 60px;
	margin-bottom: 400px;
	display: inline-block;
}

.contact {
	float: left;
	width: 45%;
	background-color: white;
	padding: 15px;
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 50px;
	box-sizing: border-box;
	position: relative;
}

.contactform {
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	line-height: 25px;
}

.pp {
	text-align: center;
}

#yourname {
	width: 500px;
	height: 25px;
}

#email {
	width: 500px;
	height: 25px;
}

#message {
	height: 200px;
	width: 500px;
}

#submit {
	background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}




